<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/'>iVents</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink='events' routerLinkActive='active'
        routerLinkActiveOptions='{extact: true}'>Events</a>
      <a class="nav-item nav-link" routerLink='events/create' routerLinkActive='active'>Create Event</a>
    </div>
  </div>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/user/profile']">Hello Joe</a></li>
    </ul>
  </div>
</nav>
